:root {
    --theme-color-green: rgba(172, 255, 47, 0.815);
    --theme-color-blue: rgba(24, 186, 207, 0.815);
}

body {
    margin: 0px;
}

#wrapper {
    display: grid;
    grid-template-rows: 50px auto 300px;
}

#top-bar {
    background-color: slategray;
    border: 4px black;
    border-style: none none solid none;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
    font-family:'Courier New', Courier, monospace; 
    font-size: larger;
    column-gap: clamp(3px, 8px, 10px);
    align-items: stretch;
    justify-items: stretch;
}

@media (max-width: 600px) {
    #top-bar {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

#top-bar a {
    background-color: var(--theme-color-green);
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 3px;
    transition: 750ms;
    
}

#top-bar a:hover {
    background-color: var(--theme-color-blue);
}


#top-bar h3 {
    margin: auto auto auto 0;
}

#mid-area {
    margin-left: 8%;
    margin-right: 8%;
    min-height: calc(100vh - 360px);
}

#bottom-bar {
    background-color: black;
    font-family:'Courier New', Courier, monospace; 
    font-size: larger;
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#bottom-bar img {
    margin: auto 20px auto auto;
}

#wrapper div {
    padding: 5px;
}

#page-title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(70, 147, 211);
}