#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 40vw;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

@media (max-width: 600px) {
    #board {
        height: 80vw;
        width: 80vw;
    }
}

#board button {
    background-color: ghostwhite;
    transition: 500ms;
}

#board button:hover {
    background-color: paleturquoise;
}

#board button:active {
    background-color: slategray;
}